@import url('https://fonts.googleapis.com/css?family=Poiret+One');
*{
    margin: 0px;
    padding: 0px;
    
}

.menu{
    background:#58D68D  !important;
    height: 80px;
    color: white !important;
    padding-top: 15px;
    border-bottom: 6px solid #27AE60   !important;
}
.menu a{
    color: white !important;
}

.menu a:hover{
    text-decoration: none;
    color: #566573;
}
.logo p{
    padding-left: 30px;
    font-size: 24px;
    font-family: 'Poiret One', cursive;
}


.menu ul{
    padding-top: 15px;
    padding-right: 50px;
}

.menu ul li{
padding-right: 15px;
font-family: 'Poiret One', cursive;
    font-size: 20px;
}

#ficha{
    margin-top: 80px;
}

#panel a{
    color: #566573;
}

@media (max-width: 950px){
.menu{
    padding-top: 15px;
height: inherit;
}
.line{
        background-color: white !important;

    }
.logo p{
    padding-left: 0px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}
.menu ul li{
        padding-left: 20px;
 }
.menu a:hover{
    text-decoration: none;
    color: #566573 !important;
}

}